<@g.docType />
<html>
<script type="text/javascript" src="${ctx}/static/script/user/role.js"></script>
<@g.close />
<body>
	<form action="${ctx}/user/setRole" method="post" id="roleForm" myForm="j&p">
		<div style="text-align: center;font-size: 16px;font-weight: bolder;"><@m.m "user.setRole" /></div>
		<div class="tab-content" style="text-align: center;padding-bottom: 5px;">
			<input type="hidden" value="${userCode}" name="userCode"/>
			<select name="roleIds" multiple="multiple" style="margin-top: 10px;width:200px;height:150px;padding:15px;">
				<#list roles as role>
					<option value="${role.roleId}"<#if userRoleIds?seq_contains(role.roleId)> selected="selected"</#if>>${role.name}</option>
				</#list>
			</select><br>
			<input type="button" value="<@m.m 'global.cancel' />" class="btn btn-default" data-dismiss="modal"/>
			<input type="submit" value="<@m.m 'global.save' />" class="btn btn-default" style="margin: 10px 0;" />
		</div>
	</form>
</body>
</html>