body {
	background: #fdfaf3;
	min-width: 282px;
}

body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	padding: 0;
	margin: 0;
}

div {
	display: block;
}

body,input,textarea,table,button,select {
	font: 12px Verdana, Arial, Helvetica;
}

.clearfix {
	zoom: 1;
}

.pagetop {
	height: 35px;
	background-color: #f3a755;
	border-bottom: 1px solid #f0f0f0;
}

.pagetop .lang_wrap {
	float: right;
	line-height: 35px;
	padding-right: 15px;
}

.pagetop .lang_wrap select{
	border:none;
	color:#fff;
	background-color: #f3a755;
}

.pagetop a,.pagetop a:visited {
	color: #fff;
	text-decoration: none;
}

.pagetop a:hover {
	color: #000;
	text-decoration: underline;
}

#login_top {
	width: 160px;
	height: 70px;
	margin: 0 auto;
	margin-top: 50px;
}

#login_main {
	margin: 0 auto;
	width: 220px;
	height: 150px;
}

#loginform {
	width: 220px;
}

#loginform table, #loginform tr, #loginform td {
	border: none;
	font-size: 14px;
	line-height: 40px;
}

#loginform input {
	margin-top: 10px;
}

.enter_btn,.enter_btn_hover,.enter_btn_down,.down_btn,.down_btn_hover {
	cursor: pointer;
	display: inline-block;
	height: 37px;
	white-space: nowrap;
	margin: 0;
	text-decoration: none;
	margin-top: 2px;
	outline: none;
}

.enter_btn {
	font-size: 16px;
	width: 90px;
	vertical-align: middle;
	border: 0;
	background-position: right 0;
	background-image: url(../images/button.png);
	color: #555;
	line-height: 36px;
	float: left;
	margin:15px 60px;
}

.enter_btn:hover {
	background-position: right -100px;
}

.error {
	margin-left: 10px;
	font-size: 14px;
	color: red;
}

.nav>li>a{
	color: white;
}