<@g.docType />
<html>
<@g.head title="menu.changePassword">
<link href="${ctx}/static/css/personalData/basicInfo.css" rel="stylesheet">
<script type="text/javascript" src="${ctx}/static/script/personalData/changePassword.js"></script>
</@g.head>
<body>
<@g.top />
<@g.nav />
<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="tabs-search">
				<@g.nav_tabs 
					names="menu.staffProfile,menu.equipmentUsedList,menu.leaveSubtotal,menu.casesList,menu.changePassword" 
					urls="/personalData/basicInfo,/device/usedList,/personalData/leaveSubtotal,/personalData/caseList,/personalData/changePassword" 
					active="menu.changePassword"/>
			</div>
			<div class="formDiv">
				<form action="javascript:void(0);" id="basicInfoForm" name="pwdForm" method="post" myForm="j&p" onsubmit="return validationPass()">
					<input type="hidden" value="${userCode}" name="userCode"/>
					<#if flag>
						<input type="hidden" value="admin" name="type"/>
					</#if>
					<table id="basicInfoTable">
						<tr>
							<td colspan="3" style="text-align: center;">
								<span class="title"><@m.m "global.resetPassword" /></span>
							</td>
						</tr>
						<#if !flag>
						<tr>
							<td><@m.m "global.oldPassword" />：</td>
							<td class="controls">
								<input type="password" placeholder="<@m.m "global.oldPassword" />" class="form-control" name="oldPassword" check-type="required" required-message="<@m.m 'global.notNull' />"/>
							</td>
						</tr>
						</#if>
						<tr>
							<td><@m.m "global.newPassword" />：</td>
							<td class="controls"><input id="pass1" placeholder="<@m.m "global.newPassword" />" type="password" class="form-control" name="password" /></td>
						</tr>
						<tr>
							<td><@m.m "global.confimPassword" />：</td>
							<td class="controls"><input id="pass2" placeholder="<@m.m "global.confimPassword" />" type="password" class="form-control" check-type="required" required-message="<@m.m 'global.notNull' />" /></td>
						</tr>
						<tr style="text-align: center;">
							<td colspan="2"><input type="submit" value="<@m.m 'global.save' />" class="btn btn-default" style="width: 43%;margin-top: 20px;"/></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>