<@g.docType />
<html>
<link href="${ctx}/static/css/customer.css" rel="stylesheet">
<script type="text/javascript" src="${ctx}/static/script/global.js"></script>
<body>
	<@g.close />
	<form action="${ctx}/collectMoney/update" method="post" id="collectMoneyForm" myForm="j&p">
		<div style="text-align: center;font-size: 16px;font-weight: bolder;"><@m.m "global.edit" /></div>
		<div class="tab-content" style="text-align: center;padding-bottom: 5px;">
		<input type="hidden" value="${collectMoney.collectId}" name="collectId"/>
			<table id="collectMoneyEditTable" style="width: 535px;">
				<tr>
					<td style="text-align: right;"><@m.m "coseAnalysis.quotation" />：</td>
					<td>
						<select class="form-control" name="quotationId">
							<#list quotations as quotation>
								<option value="${quotation.quotationId}" <#if collectMoney.quotationId??><#if quotation.quotationId==collectMoney.quotationId>selected="selected"</#if></#if>>${quotation.quotationName}</option>
							</#list>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;"><@m.m "collectMoney.invoice" />：</td>
					<td>
						<select class="form-control" name="invoice">
							<option value="false"><@m.m "global.no" /></option>
							<option value="true" <#if collectMoney.invoice>selected="selected"</#if>><@m.m "global.yes" /></option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;"><@m.m "collectMoney.sum" />：</td>
					<td><input type="text" class="form-control" name="amount" value="<#if collectMoney.amount??>${collectMoney.amount?string('##0.00#')}<#else>0.00</#if>" check-type="required" required-message="<@m.m 'global.notNull' />"></td>
				</tr>
				<tr>
					<td style="text-align: right;"><@m.m "collectMoney.date" />：</td>
					<td>
						<div class="input-group date clear_date col-md-5" data-date-format="yyyy-mm-dd" style="width: 435px;">
							<input class="form-control calculate" style="cursor: pointer;" size="16" type="text" name="date" value="${currentDate}" readonly="readonly">
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;"><@m.m "collectMoney.toAccount" />：</td>
					<td>
					    <select class="form-control" name="toAccount">
							<option value="false"><@m.m "global.no" /></option>
							<option value="true" <#if collectMoney.toAccount>selected="selected"</#if>><@m.m "global.yes" /></option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;"><@m.m "collectMoney.notes" />：</td>
					<td><input type="text" class="form-control" name="notes" value="${collectMoney.notes}"></td>
				</tr>
			</table>
			<input type="submit" value="<@m.m 'global.save' />" class="btn btn-default" style="margin: 10px 0;" />
		</div>
	</form>
</body>
</html>